# dependencies
node_modules/
.pnpm-store/

# build output
.next/
dist/
out/
build/
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json

# generated
packages/api-client/src/generated/
